body {
    font-family: verdana;
    font-size: 20px;
    color: #999999;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#lightStack , #tempSensorStack, #rgbLedStack{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
}

.dragHelperLight, .dragHelperTemp, .dragHelperRgbLed {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: white;
    background-position: center;
}

#lightStack, .dragHelperLight{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/led_green.png");
}

#tempSensorStack, .dragHelperTemp{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/humidity_temperature_sensor.png");
}

#rgbLedStack, .dragHelperRgbLed{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/led_rgb.png");
}

.dragHelperRgbLedRed{
    cursor: pointer;
    background-color: red;
}

.dragHelperRgbLedGreen{
    cursor: pointer;
    background-color: green;
}

.dragHelperRgbLedBlue{
    cursor: pointer;
    background-color: blue;
}


#tempSensorStack{
    top: 80px;
}

#rgbLedStack{
    top: 150px;
}


#holder {
    border-style:solid;
    border-width:5px;
    border-color:gray;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    overflow: auto;
}

.dottedContainer {
    border-style:dotted;
    border-width:5px;
    border-color:gray;
    position: absolute;
    overflow: auto;
}

#added_items {
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: 585px;
}

.drop_pin, .drop_pin_hover {
    width: 60px;
    height: 60px;
    border: 2px;
    border-style: dotted;
    border-color: gray;
    float: left;
    list-style: none;
    margin: 10px 10px 10px 10px;
}

.empty_drop_pin {
    list-style: none;
}

.drop_pin_hover {
    border-color: #d3d3d3;
    color: #d3d3d3;
}

.drop_pin_fake_hover {
    border-color: #d3d3d3;
    color: #d3d3d3;
}

.drop_pin_active {
    /*when stuff is being dragged*/
}

#settings_form {
    padding:  50px 20px 20px 50px;
    float: left;
}



#draggableHelper {
    background-color: gray;
}

#arduino_image{
    float: right;
    margin-right: 90px;
    width: 450px;
    height: 315px;
    background-image: url("../img/arduino_uno.png");
    background-repeat: no-repeat;
    background-position: left top;
}

h3 {
   text-align: center;
}

.ui-draggable-dragging {
    box-shadow: 2px 2px 5px #505050;
}